#include <physical_layouts.dtsi>

/ {
    physical_layout_whn_ff: physical_layout_whn_ff {
        compatible = "zmk,physical-layout";
        display-name = "whn_ff";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0   100     0>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100  750    0       0   750     0>
            , <&key_physical_attrs 100 100   75  200       0    75   200>
            , <&key_physical_attrs 100 100  575  200       0   575   200>
            , <&key_physical_attrs 100 100  675  200       0   675   200>
            , <&key_physical_attrs 100 100  775  200       0   775   200>
            , <&key_physical_attrs 100 100  850    0       0   850     0>
            , <&key_physical_attrs 100 100    0  300       0     0   300>
            , <&key_physical_attrs 100 100  100  300       0   100   300>
            , <&key_physical_attrs 100 100  200  300       0   200   300>
            , <&key_physical_attrs 100 100  500  300       0   500   300>
            , <&key_physical_attrs 100 100  600  300       0   600   300>
            , <&key_physical_attrs 100 100  700  300       0   700   300>
            , <&key_physical_attrs 100 100  800  300       0   800   300>
            ;
    };
};
