#include <physical_layouts.dtsi>

/ {
    physical_layout_whn_ff: physical_layout_whn_ff {
        compatible = "zmk,physical-layout";
        display-name = "whn_ff";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0   100     0>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100   75  175       0    75   175>
            , <&key_physical_attrs 100 100    0  275       0     0   275>
            , <&key_physical_attrs 100 100  100  275       0   100   275>
            , <&key_physical_attrs 100 100  200  275       0   200   275>
            , <&key_physical_attrs 100 100  450  275       0   450   275>
            , <&key_physical_attrs 100 100  550  275       0   550   275>
            , <&key_physical_attrs 100 100  650  275       0   650   275>
            , <&key_physical_attrs 100 100  750  275       0   750   275>
            , <&key_physical_attrs 100 100  525  175       0   525   175>
            , <&key_physical_attrs 100 100  625  175       0   625   175>
            , <&key_physical_attrs 100 100  725  175       0   725   175>
            , <&key_physical_attrs  50  50  725    0       0   725     0>
            , <&key_physical_attrs  50  50  725   50       0   725    50>
            ;
    };
};
